#u3298 {
    border-color: #000000;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    background: transparent url("../images/fnr_logo.svg?crc=3820300686") no-repeat center center;
    background-size: contain;
}

.nosvg #u3298 {
    background-image: url('../images/fnr_logo_poster_u10133.png?crc=361169683');
}

#menuu3299 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u3314,
#u3317 {
    background-color: transparent;
}

#u3317:hover {
    border-radius: 20px;
}

#u3318-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3317:hover #u3318-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3321,
#u3322 {
    background-color: transparent;
}

#u3317.MuseMenuActive,
#u3322:hover {
    border-radius: 20px;
}

#u3323-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3322:hover #u3323-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3300,
#u3301 {
    background-color: transparent;
}

#u3322.MuseMenuActive,
#u3301:hover {
    border-radius: 20px;
}

#u3304-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3301:hover #u3304-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3342,
#u3343 {
    background-color: transparent;
}

#u3301.MuseMenuActive,
#u3343:hover {
    border-radius: 20px;
}

#u3344-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3343:hover #u3344-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3328,
#u3331 {
    background-color: transparent;
}

#u3343.MuseMenuActive,
#u3331:hover {
    border-radius: 20px;
}

#u3333-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3331:hover #u3333-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3349,
#u3352 {
    background-color: transparent;
}

#u3331.MuseMenuActive,
#u3352:hover {
    border-radius: 20px;
}

#u3353-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3352:hover #u3353-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3307,
#u3308 {
    background-color: transparent;
}

#u3352.MuseMenuActive,
#u3308:hover {
    border-radius: 20px;
}

#u3310-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3308:hover #u3310-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3335,
#u3336 {
    background-color: transparent;
}

#u3308.MuseMenuActive,
#u3336:hover {
    border-radius: 20px;
}

#u3336.MuseMenuActive {
    border-radius: 20px;
}

#u3338-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
    color: #FFFFFF;
    font-family: montserrat, sans-serif;
    font-weight: 400;
}

#u3336:hover #u3338-4 p {
    color: #3D89CD;
    visibility: inherit;
}

#u3317.MuseMenuActive #u3318-4 p,
#u3322.MuseMenuActive #u3323-4 p,
#u3301.MuseMenuActive #u3304-4 p,
#u3343.MuseMenuActive #u3344-4 p,
#u3331.MuseMenuActive #u3333-4 p,
#u3352.MuseMenuActive #u3353-4 p,
#u3308.MuseMenuActive #u3310-4 p,
#u3336.MuseMenuActive #u3338-4 p {
    color: #4089C9;
    visibility: inherit;
}

.MenuItem {
    cursor: pointer;
}

#u2447 {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    border-color: #000000;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    background: #FFFFFF url("../images/geometric-bg-1.svg?crc=3800783837") no-repeat center center;
    background-size: cover;
}

.nosvg #u2447 {
    background-image: url('../images/geometric-bg-1_poster_u15782.png?crc=3886908598');
}

#u21776-10 {
    background-color: transparent;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    line-height: 10px;
    text-align: center;
    font-size: 14px;
    color: #282828;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}

#u21776-8 {
    text-transform: uppercase;
}

#u3458 {
    border-color: #000000;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background: transparent url("../images/bravo.svg?crc=3973394152") no-repeat center center;
    background-size: contain;
}

#u3458:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background: transparent url("../images/bravo.svg?crc=3973394152") no-repeat center center;
    background-size: contain;
}

.nosvg #u3458,
.nosvg #u3458:hover {
    background-image: url('../images/bravo_poster_u15790.png?crc=4220480122');
}

#u21779 {
    border-color: #000000;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background: transparent url("../images/fnr_logo_black.svg?crc=454997891") no-repeat center center;
    background-size: contain;
}

#u21779:hover {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background: transparent url("../images/fnr_logo_black.svg?crc=454997891") no-repeat center center;
    background-size: contain;
}

#u21779.MuseLinkActive {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background: transparent url("../images/fnr_logo_black.svg?crc=454997891") no-repeat center center;
    background-size: contain;
}

.nosvg #u21779,
.nosvg #u21779:hover,
.nosvg #u21779.MuseLinkActive {
    background-image: url('../images/fnr_logo_black_poster_u21782.png?crc=4098801594');
}