@mixin partner($src) {
	width: 152px;
	height: 37px;
	display: block;
}
@mixin form-icon($src) {
	z-index: 102;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-left: auto;
	opacity: 1;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
	filter: alpha(opacity=100);
	background: transparent url($src) no-repeat 0% 0%;
	background-size: cover;
}

@mixin fade-in-animation($name) {
	animation-name: $name;
	animation-duration: 2s;

	@at-root {
		@keyframes #{$name} {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}
	}
}
