{{!>default}}

{{!>default}}

<!-- IMAGE DOCS BANNER -->


<div class="row text-center docs image-overlay" id="main">
    <div class="image-banner" id="main"></div>
    <div class="on-screen-text">
        <h1 class="first-line text-uppercase">
            страница не найдена
        </h1>
    </div>
</div>

<!-- Documents -->

<div class="row text-center pt-7-rem news-body page-404" id="about">
    <div class="col-12">
        <h5 class="text-uppercase main-title mb-0">404</h5>
        <div class="small-line mx-auto"></div>
    </div>
</div>

{{>form}}