 {{!
< default}} <!-- VIDEO BANNER -->



	<div class="row text-center video" id="main">
		<div class="col-12 pr-0 pl-0">
			<img src="assets/video.png" class="video-hide"></img>
			<!-- <video loop preload="auto" muted poster="assets/video.png" autoplay>
                <source src="assets/video.webm" type="video/webm">
                <source src="assets/video.mp4" type="video/mp4">
            </video> -->
			<div class="iframe" style="position:relative;height:0;padding-bottom:56.29%"><iframe src="https://www.youtube.com/embed/YiB9Fm4Sg9U?ecver=2&playlist=YiB9Fm4Sg9U&autoplay=1&controls=0&disablekb=1&fs=0&loop=1&modestbranding=1&rel=0&showinfo=0&mute=1"
				 style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media"
				 allowfullscreen></iframe></div>
			<div class="video-cover"></div>
			<div class="on-screen-text">
				<h3 class="first-line">БЛАГОТВОРИТЕЛЬНЫЙ ПРОЕКТ </h3>
				<h3 class="first-line">«НАЙДИ МЕНЯ, МАМА»</h3>
				<h3>ПРЕСС-КОНФЕРЕНЦИЯ В МИА «РОССИЯ СЕГОДНЯ»</h3>
				<a href=""><h5><i class="fab fa-youtube"></i> СМОТРЕТЬ</h5></a>
			</div>
		</div>
	</div>

	<!-- O FONDE -->

	<div class="row text-center pt-7-rem o-fonde" id="about">
		<div class="col-12">
			<h5 class="text-uppercase main-title mb-0">о фонде</h5>
			<div class="small-line mx-auto"></div>
			<p class="w-75 mx-auto">
				Фонд Николая Расторгуева был учреждён народным артистом России Н.В. Расторгуевым в октябре 2014 года и является инициатором
				ряда благотворительных проектов, направленных на помощь детям-воспитанникам российских детских домов. Также Фонд участвует
				в деятельности, связанной с поддержкой искусства и культуры.
			</p>
		</div>
	</div>

	<!-- PROJECTS -->

	<div class="row text-center pt-7-rem projects" id="projects">
		<div class="col-12">
			<h5 class="text-uppercase main-title mb-5">проекты фонда</h5>

			<!-- ADD DYNAMIC HERE ! -->
			<div class="projects-controls">
				<p class="year-controls active" data-filter="all">Все</p>
				<p class="year-controls" data-filter="2016">2016</p>
				<p class="year-controls" data-filter="2017">2017</p>
			</div>

			<div class="col-12 carousel-container">
				<div class="projects-carousel">

					<div class="news-box text-center" data-year="2016">
						<a>

							<div class="img-container"></div>
							<h4 class="text-uppercase">Дубровник. Арт форум 2016</h4>
						</a>
					</div>

					<div class="news-box text-center" data-year="2016">
						<a>

							<div class="img-container"></div>
							<h4 class="text-uppercase">Дубровник. Арт форум 2016</h4>
						</a>
					</div>

					<div class="news-box text-center" data-year="2017">
						<a>

							<div class="img-container"></div>
							<h4 class="text-uppercase">Дубровник. Арт форум 2017</h4>
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- PARTNERS -->

	<div class="row text-center pt-7-rem pb-0 partners" id="partners">
		<div class="col-12">
			<h5 class="text-uppercase main-title mb-0">наши партнеры</h5>
			<div class="small-line mx-auto"></div>
			<p class="w-75 mx-auto">
				От лица всего коллектива благодарю партнёров Фонда, без которых наши проекты не могли бы состояться. Делать добро вместе
				— это то, ради чего Фонд был создан.
			</p>
			<p class=" mt-5"><span class="main-title">НИКОЛАЙ РАСТОРГУЕВ /</span> ПРЕЗИДЕНТ ФОНДА</p>
		</div>
		<div class="row mx-auto mt-5 pl-lg-5 pr-lg-5 justify-content-center">
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/safmar.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/софрахт.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/dep_soc_zachiti.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/ria.svg" class="par1 mx-auto" alt="">
			</div>

			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/prav_mos.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/рсм_logo.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/fm_innovation - positive black 3d.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/depcultmos.svg" class="par1 mx-auto" alt="">
			</div>

			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/союз пенсионеровpsd.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/dep_obraz_mos.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/nash-dom_logo.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/fond_gorchakova.svg" class="par1 mx-auto" alt="">
			</div>
			<div class="col-lg-3 col-md-4 col-12 pt-4 pb-4">
				<img src="images/posolstvo_horvatii.svg" class="par1 mx-auto" alt="">
			</div>

		</div>
	</div>

	<!-- BANNER RASTORGUEV -->

	<div class="row align-items-center pt-4i8-rem" id="management">
		<div class="col-12 rastorguev">
			<div class="row pt-5 pb-5 align-items-center h-100">
				<div class="col-md-6 col-12 offset-0 offset-md-6">
					<div class="banner-text">
						<h3 class="text-uppercase white-title">николай растогуев
							</h5>
							<h5 class="text-uppercase white-title mb-0">президент фонда</h5>
					</div>


				</div>
			</div>
		</div>
	</div>

	<!-- MANAGEMENT -->

	<div class="row text-center pt-7-rem management">
		<div class="col-12">
			<h5 class="text-uppercase main-title mb-5">руководство фонда</h5>
			<div class="row mt-5">
				<div class="col-12 col-md-4">
					<div class="management_card mx-auto">
						<img src="images/ivanov.jpg" alt="" class="mb-5">
						<h6 class="text-uppercase main-title">александр иванов</h6>
						<p class="text-uppercase">вице-президент фонда</p>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="management_card mx-auto">
						<img src="images/skr.jpg" alt="" class="mb-5">
						<h6 class="text-uppercase main-title">надежда скрипак</h6>
						<p class="text-uppercase">арт-директор</p>
					</div>
				</div>
				<div class="col-12 col-md-4">
					<div class="management_card mx-auto">
						<img src="images/nik.jpg" alt="" class="mb-5">
						<h6 class="text-uppercase main-title">игорь николенко</h6>
						<p class="text-uppercase">вице-президент фонда</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- NOVOSTI -->

	<div class="row text-center pt-7-rem news ml-0" id="news">
		<div class="col-12">
			<h5 class="text-uppercase main-title mb-0">новости фонда / пресс-служба</h5>
			<div class="small-line mx-auto"></div>
			<p class="w-75 mx-auto mb-5">
				В этом разделе мы регулярно размещаем публикации о текущей деятельности Фонда.
			</p>
		</div>
		{{> news_carousel}}
	</div>

	{{> form}}