.version.video_bg {
    color: #0000ED;
    background-color: #64B8DF;
}

#page {
    z-index: 1;
    width: 1170px;
    min-height: 438px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 62px;
    margin-left: auto;
    margin-right: auto;
}

#video {
    position: relative;
    margin-right: -10000px;
    width: 22px;
    margin-top: 62px;
}

#u22538 {
    z-index: 2;
    width: 100px;
    min-height: 100px;
    position: relative;
    margin-right: -10000px;
    margin-top: 178px;
    left: 365px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 778px);
}

#muse_css_mq,
.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 1170px;
}