<!-- KONTAKTI -->

<div class="row text-center pt-7-rem contacts scroll-section" id="contact-form">
    <!-- OVERLAY -->
    <div class="overlay hide">
        <div class="circle-loader">
            <div class="checkmark draw"></div>
            <div class="close-icon">
            </div>
        </div>
    </div>

    <!-- /OVERLAY -->
    <div class="col-12 mb-5 mt-4">
        <h5 class="text-uppercase main-title mb-0">контакты</h5>
        <div class="small-line mx-auto"></div>
        <p class="w-75 mx-auto">
            Чтобы задать вопрос, вы можете воспользоваться формой обратной. По всем вопросам сотрудничества с фондом
            Николая Расторгуева
            пишите на адрес электронной почты.
        </p>
    </div>
    <div class="col-lg-4 col-12 text-left mb-4">
        <div class="row align-items-center">
            <div class="col-2">
                <div class="info align-middle"></div>
            </div>
            <div class="col-10 text-left">
                <h6 class="main-title text-uppercase mb-0 h-100 align-middle">
                    информация
                </h6>
            </div>

            <div class="col-2">
                <div class="marker align-middle"></div>
            </div>
            <div class="col-10 text-left">
                <h6 class="main-title mb-0 h-100 align-middle">
                    МОСКВА, 127055, 1-й Тихвинский тупик, д. 5-7
                </h6>
            </div>

            <div class="col-2">
                <div class="mail align-middle"></div>
            </div>
            <div class="col-10 text-left">
                <h6 class="main-title mb-0 h-100 align-middle">
                    info@nr-fund.ru
                </h6>
            </div>
        </div>

    </div>
    <div class="col-lg-8 col-12 pr-5 pl-lg-0 pl-5">
        <form class="mx-auto" id="contacts">
            <div class="form-row mb-4">
                <div class="col-12 col-md-6 mb-2">
                    <input type="text" class="form-control" name="name" placeholder="Ваше имя" required>
                </div>
                <div class="col-12 col-md-6 mb-2">
                    <input type="email" class="form-control" name="email" placeholder="Ваш Email" required>
                </div>
            </div>
            <div class="form-row mb-4">
                <div class="col-12">
                    <textarea class="form-control" name="message" placeholder="Ваше сообщение" rows="3" class="w-100"
                        required></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="col-3 text-left">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </div>




        </form>
    </div>
</div>